<p>Estimado {{ name }},</p>
<p>Hemos recibido un formulario de contacto, a continuación adjuntamos los datos.</p>

<p>Nombre: <b>{{nombre}}</b></p>
<p>Correo: <b>{{correo}}</b></p>
<p>Teléfono: <b>{{telefono}}</b></p>
<p>Asunto: <b>{{asunto}}</b></p>

<p>Comentario: <b>{{comentario}}</b></p>

<p>Equipo Card Applications</p>