<p>Estimado {{ name }},</p>
<p>Se ha igresado una nueva solicitud en el sistema, favor hacer seguimiento y contactar a cliente para finalizar la compra.</p>

<p>Nombre: <b>{{nombre}}</b></p>
<p>Correo: <b>{{correo}}</b></p>
<p>Teléfono: <b>{{telefono}}</b></p>
<p>Código de solicitud: <b>{{token}}</b></p>

<p>Equipo Card Applications</p>